.App {
  display: block;
  height: 100vh;
}

.header {
  height: 10%; 
  display: flex;
  justify-content: space-between;
}

.logo, .actions, .preferences {
  width: 30%; 
}

.logo-img {
  width: 130px; 
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.chart {
  width: 70%; 
  height: 80%; 
  float: left;
}

.order-form {
  width: 30%; 
  height: 80%; 
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 160px;
}

.order-form button {
  width: 70%;
}

.order-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-buttons {
  display: flex;
  justify-content: space-between;
}

.input-with-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

